body{
    background-color: black;
    color: white;
    margin-top: 5em;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 3px;
}

.input_body{
    
}

.searchbox{
    width: 80%;
    padding: 10px 10px;
    outline: none;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid white;
    margin-bottom: 2em;
    color: white;
    font-size: 1.2rem;
    display: block;
    margin: auto;
}

button{
    width: fit-content;
    padding: 0.5em 2.5em;
    color: rgb(90, 82, 82);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 3em;

}

.error{
    color: rgb(245, 51, 51);
}